.detail-card {
  @include flexbox(start);
  @include text-style(16, $white);
  height: 350px;
  border-radius: 6px;

  &__item {
    padding: 10px 0;

    .album-info {
      @include flexbox(start);

      &__thumbnail {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        overflow: hidden;
        border-radius: 4px;
      }

      &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__detail {
        @include flexbox(center, start);
        flex-direction: column-reverse;
      }

      &__artist {
        @include text-style(12);
        opacity: 0.6;
      }
    }
  }

  &__play-button {
    position: absolute;
  }
}
