.album-detail > button {
  width: 41px;
  height: 41px;
}

.album-detail__add-list {
  @include setIcon(-467px, -230px);

  &:hover {
    background-position: -467px -184px;
  }
}

.album-detail__add-playlist {
  @include setIcon(-368px, -380px);

  &:hover {
    background-position: -322px -380px;
  }
}

.album-detail__like {
  @include setIcon(-421px, -138px);

  &.active {
    background-position: -421px -230px;
  }

  &:hover {
    background-position: -421px -92px;
  }
}

.album-detail__listen {
  @include setIcon(-467px, -92px);

  &:hover {
    background-position: -467px -46px;
  }
}

.album-detail__more {
  @include setIcon(-184px, -380px);

  &:hover {
    background-position: -138px -380px;
  }
}

.btn__allplay {
  @include setIcon(-697px, -132px);
  width: 17px;
  height: 17px;

  &:hover {
    background-position: -697px -110px;
  }
}

.album-btn__check-square {
  @include setIcon(-450px, -691px);
  width: 12px;
  height: 12px;

  &:checked {
    background-position: -535px -691px;
  }
}
