.ic-search {
  @include setIcon(-242px, -632px);
  width: 25px;
  height: 25px;
}

.ic-checked {
  @include setTag(-194px, -516px);
  width: 17px;
  height: 17px;
}

.ic-delete-input {
  @include setIcon(-697px, -440px);
  width: 16px;
  height: 16px;
}

.ic-plus {
  @include setIcon(-303px, -663px);
  width: 20px;
  height: 20px;
}

.ic-setting {
  @include setIcon(-362px, -691px);
  width: 13px;
  height: 13px;
}

.ic-arrow {
  @include setIcon(-632px, -612px);
  width: 28px;
  height: 20px;
}

.ic-play-circle {
  @include setIcon(-119px, -208px);
  width: 54px;
  height: 54px;

  &:hover {
    background-position: -60px -208px;
  }
}

.ic-prev-lg {
  @include setIcon(-248px, -60px);
  width: 55px;
  height: 55px;

  &:hover {
    background-position: -248px 0;
  }
}

.ic-next-lg {
  @include setIcon(0, -208px);
  width: 55px;
  height: 55px;

  &:hover {
    background-position: -248px -120px;
  }
}

.ic-prev-sm {
  @include setIcon(-126px, -636px);
  width: 16px;
  height: 16px;

  &:hover {
    background-position: -96px -636px;
  }

  &:disabled {
    background-position: -68px -636px;
  }
}

.ic-next-sm {
  @include setIcon(-215px, -636px);
  width: 16px;
  height: 16px;

  &:hover {
    background-position: -185px -636px;
  }

  &:disabled {
    background-position: -155px -636px;
  }
}

.ic-play-thumbnail {
  @include setIcon(-178px, -105px);
  width: 32px;
  height: 32px;

  &:hover {
    background-position: -141px -105px;
  }
}

.ic-link {
  @include setIcon(-100px, -693px);
  width: 12px;
  height: 12px;
}
