.ic-search {
  @include setIcon(-242px, -632px);
  display: inline-block;
  width: 25px;
  height: 25px;
}

.ic-checked {
  @include setTag(-194px, -516px);
  display: inline-block;
  width: 17px;
  height: 17px;
}

.ic-delete-input {
  @include setIcon(-697px, -440px);
  display: inline-block;
  width: 16px;
  height: 16px;
}

.ic-plus {
  @include setIcon(-303px, -663px);
  display: inline-block;
  width: 20px;
  height: 20px;
}

.btn__play {
  @include setIcon(-119px, -208px);
  width: 54px;
  height: 54px;

  &:hover {
    background-position: -60px -208px;
  }
}

.btn__arrow {
  width: 55px;
  height: 55px;
}

.btn__arrow--prev {
  @include setIcon(-248px, -60px);

  &:hover {
    background-position: -248px 0;
  }
}

.btn__arrow--next {
  @include setIcon(0, -208px);

  &:hover {
    background-position: -248px -120px;
  }
}

.btn__swiper {
  width: 16px;
  height: 16px;
}

.btn__swiper--prev {
  @include setIcon(-126px, -636px);

  &:hover {
    background-position: -96px -636px;
  }

  &:disabled {
    background-position: -68px -636px;
  }
}

.btn__swiper--next {
  @include setIcon(-215px, -636px);

  &:hover {
    background-position: -185px -636px;
  }

  &:disabled {
    background-position: -155px -636px;
  }
}

.btn__thumbnail-play {
  @include setIcon(-178px, -105px);
  width: 32px;
  height: 32px;

  &:hover {
    background-position: -141px -105px;
  }
}

.ic-link {
  @include setIcon(-100px, -693px);
  display: inline-block;
  width: 12px;
  height: 12px;
}
