.flo-section {
  width: 100%;
  margin-bottom: 40px;

  &__title {
    @include text-style(22);
    margin-bottom: 20px;
  }

  &--today {
    transition: color 200ms ease-in-out;

    &:hover {
      color: $blue;
    }
  }
}
