.flo-section {
  width: 100%;

  &__title {
    @include text-style(22);
    transition: color 200ms ease-in-out;

    &:hover {
      color: $blue;
    }
  }

  &__recommend,
  &__today {
    margin-bottom: 40px;
  }
}
