.flo-section {
  width: 100%;
  margin-bottom: 60px;

  &__title {
    @include text-style(22);
    margin-bottom: 20px;
  }

  &--today {
    transition: color 200ms ease-in-out;

    &:hover {
      .flo-section__title {
        color: $blue;
      }
    }
  }

  &--today-recommend {
    .flo-section__title {
      margin-bottom: 0;
    }
  }

  &--editor-pick {
    .flo-section {
      &__header {
        @include flexbox(between);
        margin-bottom: 20px;
      }

      &__title {
        margin-bottom: 0;
      }

      &__link {
        @include flexbox(start);
        @include text-style(16);
        transition: color 200ms ease-in-out;

        &:hover {
          color: $blue;
        }

        .ic-link {
          margin-left: -2px;
        }
      }
    }
  }
}
