.global-header {
  &__wrapper {
    @include flexbox(between);
  }

  &__left {
    @include flexbox(start);
  }

  &__logo {
    margin-right: 25px;

    a {
      display: block;
    }
  }

  &__image {
    display: block;
    width: auto;
    height: 25px;
  }

  .nav {
    margin-right: 30px;

    &__list {
      @include flexbox(start);
    }

    &__item {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      @include text-style(16, $black);
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
