.voucher-modal {
  @include pos-center(fixed);
  z-index: $voucher-level;
  display: none;
  width: calc(100% - 40px);
  max-width: 320px;
  background-color: $white;

  &.is-active {
    display: block;
  }

  &__content {
    width: 320px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__button {
    @include flexbox(between);
    padding: 20px 15px;
  }

  &__checkbox {
    display: none;

    &:checked + .today-close-button {
      .ic-check {
        background-position: -572px -661px;
      }

      .today-close-button__text {
        color: $blue;
      }
    }
  }

  .today-close-button {
    cursor: pointer;

    &__text {
      @include text-style(14);
      margin-left: 2px;
    }
  }
}
