$font-main: 'NanumBarunGothic', sans-serif;

$font-size-12: 12px;

$font-size-13: 13px;

$font-size-14: 14px;
$line-height-14: 20px;

$font-size-15: 15px;

$font-size-16: 16px;
$line-height-16: 20px;

$font-size-22: 22px;

$font-size-28: 28px;
$line-height-28: 40px;
