$check-icon-level: 30;
$plus-icon-level: 30;

$header-level: 40;
$search-level: 50;

$thumbnail-play-button-level: 20;
$thumbnail-level: 10;
$thumbnail-shadow-level: -10;
$thumbnail-second-shadow-level: -20;

$recommend-image-level: 30;

$overlay-level: 100;
$voucher-level: 200;
