$check-icon-level: 30;
$plus-icon-level: 30;

$header-level: 400;
$search-level: 500;

$thumbnail-play-button-level: 50;
$thumbnail-level: 30;
$thumbnail-shadow-level: -10;
$thumbnail-second-shadow-level: -20;

$recommend-image-level: 30;
